<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Next appointment:</strong>
  <%= @customer.next_appointment %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @customer.reason %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
