<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @appointment.pet %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @appointment.customer %>
</p>

<p>
  <strong>Remainder:</strong>
  <%= @appointment.remainder %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @appointment.reason %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
